.hotsale-listproduct-product {
   padding: 10px;
   
    border-radius: 10px;
  }
  
  .hotsale-listproduct-product img {

  }
  
  .hotsale-listproduct-product-name {
  
  }
  
  .price {

  }
  
  .price1 {
 
  }
  
  .price2 {

  }
  
  .discount p {
   

  }
  
  .buy a {
 
  }
  
  .buy a:hover {
    background-color: #FF4500 /* Hover background color */
  }
  